.slideTitle {
    font: 700 22px/24px 'Work Sans';
    color: #776B5D;
    margin: 0 40px 20px 40px;
}

.swiperPagination {
    height: 500px;
    padding-bottom: 30px;
    margin-bottom: 40px;

    :global(.swiper-pagination) {
        bottom: 0;
    }
}

.slideCategory {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    color: #F3EEEA;
    font: 700 30px/36px 'Work Sans';
    margin: 20px 50px;
}

@media (max-width: 480px) {
    .swiperPagination {
        height: 350px;
    }
}