.buttonsContainer {
    display: flex;
    gap: 10px;
}

.cartBtn {
    background-color: #F3EEEA;
    border-radius: 8px;
    border: 1px solid #776B5D;
    color: #776B5D;
    cursor: pointer;
    font-weight: 700;
    height: 40px;
    padding: 0 16px;

    &:hover {
        outline: 2px solid #776B5D;
    }
}

.cartDenied {
    color: #776B5D;
    text-align: center;
}
