.productContent {
    padding: 50px 40px;
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    border-bottom: 3px solid #776B5D;
}

@media (max-width: 480px) {
    .productContent {
        flex-direction: column;
    }
}