.productContent {
    align-items: center;
    border-bottom: 3px solid #776B5D;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding: 50px 40px;
    width: 100%;

    &:last-child {
        border: none;
    }
}

.productSection {
    font: 700 22px/24px 'Work Sans';
    color: #776B5D;
    margin: 20px 50px;
}

.productCategory {
    font: 700 16px/18px 'Work Sans';
    color: #776B5D;
    margin: 20px 50px;
}

.productsItems {
    display: flex;
    align-items: center;
}

@media (max-width: 480px) {
    .productContent {
        flex-direction: column;
    }

    .productsItems {
        flex-direction: column;
        text-align: center;
    }
}