.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin: 30px auto;
    width: 70%;
}

.cardContent {
    align-items: center;
    border-radius: 15px;
    border: 1px solid #776B5D;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px;
    width: 30%;

    p {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #776B5D;
        display: -webkit-box;
        font: 700 16px/18px 'Work Sans';
        overflow: hidden;
        text-align: center;
        width: 110px;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.cardImage {
    border-radius: 15px;
    margin-right: 20px;
}

.categoryListTitle {
    font: 700 22px/24px 'Work Sans';
    color: #776B5D;
    margin: 30px 0 10px 40px;
}